<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Pathway+Gothic+One" rel="stylesheet">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/regular.css" integrity="sha384-zkhEzh7td0PG30vxQk1D9liRKeizzot4eqkJ8gB3/I+mZ1rjgQk+BSt2F6rT2c+I" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/brands.css" integrity="sha384-nT8r1Kzllf71iZl81CdFzObMsaLOhqBU1JD2+XoAALbdtWaXDOlWOZTR4v1ktjPE" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/fontawesome.css" integrity="sha384-HbmWTHay9psM8qyzEKPc8odH4DsOuzdejtnr+OFtDmOcIVnhgReQ4GZBH7uwcjf6" crossorigin="anonymous">
  <title>{{name.prefix}} {{name.firstName}} {{name.lastName}} | Mantrix Engineering</title>

  <style>
    body {
      font-family: 'Pathway Gothic One', sans-serif;
      background-image: url('https://firebasestorage.googleapis.com/v0/b/playground-5431f.appspot.com/o/assets%2Fwebsite-bg.jpeg?alt=media&token=5462c463-e591-4474-bf7b-163e842365ff');
      background-attachment: fixed;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      color: white;
    }

    ._container {
      height: 100vh;
    }

    ._round-corners {
      background-color: rgba(255, 255, 255, 0.8);
      /* border-radius: 10px; */
    }

    ._name {
      font-size: 100px;
    }

    ._profile-pic {
      border-radius: 100%;
    }

    ._black {
      color: black;
    }

    ._btn {
      background: white;
    }

    ._btn-social {
      color: white;
      font-size: 50px;
    }

    ._btn-social.facebook:hover {
      color: #3B5998;
    }
    
    ._btn-social.twitter:hover {
      color: #0084b4;
    }
    
    ._btn-social.linkedin:hover {
      color: #0077B5;
    }
    
    ._btn-social.gplus:hover {
      color: #d34836;
    }
  </style>
</head>
<body>
  <div class="container _container">
    <div class="row align-items-center justify-content-md-center" style="height: 100vh;">
      <div class="col-md-8">
        <div class="text-center">
          <img width="200" class="_profile-pic" src="{{picURL}}" alt="">
          <h1>{{name.prefix}} <span class="_name">{{name.lastName}}</span></h1>
          <h1>{{name.firstName}} {{name.middleName}}</h1>
          <p><i>{{bio}}</i></p>

          <button class="btn _btn" data-toggle="modal" data-target="#educationsModal">Educations</button>
            
          <button class="btn _btn" data-toggle="modal" data-target="#servicesModal">Services</button>

          {{#contacts.workEmail}}
            <button class="btn _btn" data-toggle="modal" data-target="#contactsModal">Contacts</button>
          {{/contacts.workEmail}}   
                 
          <br>
          {{#contacts.social.facebook}}
            <a class="btn _btn-social facebook" target="_blank" href="{{contacts.social.facebook}}">
              <i class="fab fa-facebook"></i>
            </a>
          {{/contacts.social.facebook}}
          {{#contacts.social.twitter}}
            <a class="btn _btn-social twitter" target="_blank" href="{{contacts.social.twitter}}">
              <i class="fab fa-twitter"></i>
            </a>
          {{/contacts.social.twitter}}
          {{#contacts.social.linkedIn}}
            <a class="btn _btn-social linkedin" target="_blank" href="{{contacts.social.linkedIn}}">
              <i class="fab fa-linkedin"></i>
            </a>
          {{/contacts.social.linkedIn}}
          {{#contacts.social.googlePlus}}
            <a class="btn _btn-social gplus" target="_blank" href="{{contacts.social.googlePlus}}">
              <i class="fab fa-google-plus-g"></i>
            </a>
          {{/contacts.social.googlePlus}}
        </div>
      </div>
    </div>
  </div>
  <!-- Educations Modal -->
  <div class="modal fade" id="educationsModal" tabindex="-1" role="dialog" aria-labelledby="educationsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          {{#educations}}
          <div>
            <h2 class="_black">{{degree}} at {{school}}</h2>
            <p class="_black">From {{start}} to {{end}}</p>
          </div>
          {{/educations}}
        </div>
      </div>
    </div>
  </div>
  <!-- Services Modal -->
  <div class="modal fade" id="servicesModal" tabindex="-1" role="dialog" aria-labelledby="servicesModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          {{#services}}
          <div>
            <h2 class="_black">{{name}}</h2>
            <p class="_black">{{description}}</p>
          </div>
          {{/services}}
        </div>
      </div>
    </div>
  </div>
  <!-- Contacts Modal -->
  <div class="modal fade" id="contactsModal" tabindex="-1" role="dialog" aria-labelledby="#contactsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body">
          {{#contacts}}
          <div>
            <h2 class="_black">Work Email</h2>
            <p class="_black">{{workEmail}}</p>

            <h2 class="_black">Phone</h2>
            <p class="_black">{{phone.work}}</p>

            <h2 class="_black">Mobile</h2>
            <p class="_black">{{phone.workMobile}}</p>
          </div>
          {{/contacts}}
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>